<template>
  <nav class="navbar navbar-light">
    <div class="container">
     <router-link class="navbar-brand" :to="{name: 'home'}">
      Medium clone
     </router-link>
     <ul class="nav navbar-nav pull-xs-right">
      <li class="nav-item">
        <router-link class="nav-link" :to="{name: 'home'}">
          Home
        </router-link>
      </li>
      <template v-if="isAnonymus">
        <li class="nav-item">
          <router-link class="nav-link" :to="{name: 'createArticle'}">
            <i class="ion-compose"></i> &nbsp;
            New article
          </router-link>
        </li>
        <li class="nav-item">
          <router-link class="nav-link" :to="{name: 'settings'}">
            <i class="ion-gear-a"></i> &nbsp;
            Settings
          </router-link>
        </li>
        <li class="nav-item">
          <router-link class="nav-link" :to="{name: 'userProfile', params: {slug: currentUser.username}}">
            <img class="user-pic" :src="currentUser.image" /> &nbsp;
            {{ currentUser.username }}
          </router-link>
        </li>
      </template>
      <template v-else>
        <li class="nav-item">
          <router-link class="nav-link" :to="{name: 'login'}">
            Sign In
          </router-link>
        </li>
        <li class="nav-item">
          <router-link class="nav-link" :to="{name: 'register'}">
            Sign Up
          </router-link>
        </li>
      </template>
     </ul>
    </div>
  
  </nav>
</template>

<script>
import {mapState, mapGetters} from 'vuex';
import {getterTypes} from '@/store/modules/auth';

export default {
  name: 'McvTopBar',
  computed: {
    ...mapGetters({
      currentUser: getterTypes.currentUser,
      isLoggedIn: getterTypes.isLoggedIn,
      isAnonymus: getterTypes.isAnonymus,
    })
    // ...mapState({
    //   // currentUser: state => state.auth.currentUser,
    //   // isLoggedIn: state => state.auth.isLoggedIn,
    // }),
    // currentUser() {
    //   return this.$store.getters[getterTypes.currentUser]
    // },
    // isLoggedIn() {
    //   return this.$store.getters[getterTypes.isLoggedIn]
    // },
    // isAnonymus() {
    //   return this.$store.getters[getterTypes.isAnonymus]
    // }
  }
}
</script>